<header class="page-header font-large ">

    <!--PATH NAME FOR LANDING IS BLANK SO IT IS LIKE PART OF THE DEFAULT STARTUP-->

      <!--old standard HTML code used before bootstrap button to add more polish-->
      <!-- <h3 class = "text-uppercase font weight-bold"><a href = "">menu</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">locations</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">reservations</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">checkout</a></h3>

            <h3 class = "text-uppercase font weight-bold"><a href = "">about</a></h3>
          -->

      <!--LINK BUTTONS: BOOTSTRAP-->
          <div class="main-header">
      <nav
            class="container-fluid navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
          >
            <div class="logo">
              <h2 class="logo-name">Stomach Klinic</h2>
            </div>
            <div class="section">
              <a href="./dashboard">Login</a>
              <a href="./menu">Menu</a>
              <a href="event">Event</a>
              <a href="./aboutus">About Us</a>
              <a href="./checkout">Contact</a></div>
          </nav>
          </div>
</header>

<!--to navigate back to first page of reservations always w/ header click-->

