<div class="container">
  <div>
    <h1 class="heading">ABOUT US</h1>
  </div>
  <p id="about" style="line-height: 2">
    Founded in 2020, Stomach Klinic specializes in the best local and foreign
    comfort food there is. We pride ourselves in being sustainable, and
    environmentally friendly. Every burger, salad and sandwich we make starts by
    working closely with local farmers & partners. We take as much pride in
    preparing and cooking our food as we do in getting to know the farmers who
    grow it. We cook fresh, and we serve fresh. So whether you are
    health-conscious, environmentally conscious, or simply love great food,
    we’ve got something on our menu that will make you smile.
  </p>

  <div>
    <h1 class="heading">MISSION</h1>
  </div>
  <p id="statement" style="line-height: 2">
    To pride ourselves to provide sustainable, environmentally consicous, and
    fresh food to everyone, at an affordable price. We want to lower the amount
    of people who go hungry. Any food leftover instead of going to the trash, we
    donate it to homeless shelters, and food pantries.
  </p>

  <div>
    <h1 class="heading">OUR HISTORY</h1>
  </div>
  <p id="statement" style="line-height: 2">
    Stomach klinic is a restaurant and catering outfit, dedicated to serving you
    the best of tasteful and appetizing traditional and intercontinental
    delicacies you won’t be able to resist. Our menu includes dishes that are
    both healthy and pleasurable to the senses. Our unique style of cooking
    makes us stand out and takes you on a trip of appetizing flavours which will
    leave you coming back for more. We see our customers as royalty and we are
    committed to providing them with the best that they deserve.
  </p>

  <div>
    <h1 class="heading">OUR SERVICES</h1>
  </div>
<div class="row">
    <div class="col">

        Daily Services Delve into our menu of traditional and contemporary dishes
        made to perfection. Our mouth-watering offerings range from delicious sides
        of sauced cow beef, goat meat and assorted fish to our exquisite serving of
        the traditional amala and efo riro combo. Take a seat, order and the result?
        A savory offering set to get you in a finger licking frenzy
    </div>
    <div class="col">
        Delivery
  
</div>
</div>
Ready for events What we offer Ultima
<!-- <img src="https://media3.giphy.com/media/yxVRIRF0WJUkBckw8g/source.gif" alt="This will display a gif" class="gif" /> -->
