<div class="main">
  <!-- <nav class="navbar fixed-top">
    <div class="logo">
      <h2>Stomach Klinic</h2>
    </div>
    <div class="section">
      <a href="./menu">Menu</a>
      <a href="#">Event</a>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
    </div>
  </nav> -->
  
</div>
<!-- 
  <h2 class="menu-title"> 
    <a href="#">Our Menu </a>
  </h2> -->

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h2>Enter Your Details</h2>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="searchText"
        (input)="filterItems()"
      />
      <ul>
        <li *ngFor="let item of filteredItems">
          {{ item.name }} - {{ item.email }}
        </li>
      </ul>
    </form>
  </div>
</nav> -->
<!-- 
<div class="container">
  <div>
    <label for="text"
      >FullName:
      <input
        type="text"
        name="fullname"
        id="text"
        placeholder="Enter Name"
        [(ngModel)]="userdetails.fullname"
    /></label>
  </div>
  <br />
  <div>
    <label for="number">
      Phone Number:<input
        type="number"
        name="phonenumber"
        id="number"
        placeholder="Enter Phone Number"
        [(ngModel)]="userdetails.phonenumber"
    /></label>
  </div>
  <br />
  <a href="./UserProfile">
    <button type="submit" (click)="addItem()">Submit</button></a
  >

  <div class="table">
    <table border="2">
      <thead>
        <tr>
          <td>FullName</td>
          <td>Phone Number</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itm of items">
          <td>
            {{ itm.fullname }}
          </td>

          <td>
            {{ itm.phonenumber }}
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>

  <p>
    {{ userdetails.fullname }}
    <br />
    {{ userdetails.phonenumber }}
  </p>
</div>
</div> -->

<!-- <div class="main-image">
  <div class="image1">
    <div class="detail1">
      Welcome to our world of delectable meals and exotic drinks. We hope to
      satisfy you with our <br />
      delicious and affordable meals served under a great ambience.

      <p class="book">
        <a href="#">
          <button class="book-table" type="submit">Book Table</button>
        </a>
      </p>
    </div>
  </div>
  <div class="image2">
    <div class="detail2">
      Healthy and Delicious food to <br />make every occasion special
    </div>
    <div class="detail3">
      Food is an important part of any celebration in all nations <br />
      of the world, regardless of culture or religion.
    </div>
  </div>
  <div class="image3">
    <div class="photo1">Here are some of our local Dishes</div>
  </div>
</div> -->
<!-- 
<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 0px;
    padding: 0px;
    
  "
>
 <app-imageslider 
 class="slider"
 [slides]="slides"
 [indicatorVisible]="true"
 [animationSpeed]="200"
 [autoPlaySpeed]="1000"
 [autoPlay]="true"
 ></app-imageslider>

</div> -->


<div class="m container-fluid">
  <div class="main">
    <!-- <nav class=" container-fluid navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
     
      <div class="logo">
        <h2 class="logo-name">Stomach Klinic</h2>
      </div>
      <div class="section">
        <a href="./dashboard">Login</a>
        <a href="./menu">Menu</a>
        <a href="#">Event</a>
        <a href="./aboutus">About Us</a>
        <a href="#">Contact</a>
      </div>
    </nav> -->
    <div class="slide">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/fphoto2.jpg" class="photo" alt="image 1" />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>
                Some representative placeholder content for the first slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/fphoto1.jpg" class="photo" alt="image 2" />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/fphoto4.jpg" class="photo" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 id="title">
    <img
      src="https://media.tenor.com/images/d8710d124cd8bdb82e24b51634502a5c/tenor.gif"
      alt="This will display a gif"
    />
    MENU
    <img
      src="https://media.tenor.com/images/d8710d124cd8bdb82e24b51634502a5c/tenor.gif"
      alt="This will display a gif"
    />
  </h1>
  <p><strong>V = Vegan, GF=Gluten Free</strong></p>

  <div class="row">
    <div class="col-md-6" style="height: 1000px; background-color: orange">
      <h2 class="title">Appetizers</h2>
      <ul type="square" class="lists">
        <li>
          Chicken Fingers<br />Buttermilk-fried organic chicken breast<br />$5
        </li>
        <li>
          Cripsy Brussel Sprouts V,GF<br />Parmasean cheese, lemon, sea salt<br />$5
        </li>
        <li>
          Pigs in a Blanket<br />Four mini sausages wrapped up in baked dough<br />$5
        </li>
        <li>
          Cali Fresh Salad V, GF<br />Baby greens, quinoa, red pepper,
          hummus,red onions, grape tomatos,lemon tahini dressing<br />$6
        </li>
      </ul>

      <h2 class="title">Main Dishes</h2>
      <ul type="square" class="lists">
        <li>
          Impossible Melt V<br />Quarter pound impossible patty,american
          cheese,caramlized onions,grain toast with special sauce <br />$12
        </li>
        <li>
          Wake Up Call V<br />Quarter pounder beyond meat patty, plant based egg
          american cheese,mayo,brioche<br />$12
        </li>
        <li>
          The Original V<br />Quarter pound impossible patty, gouda
          cheese,lettuce,red onion,pickles,special sauce<br />$12
        </li>
        <li>
          El Matador<br />Grass fed beef, queso fresco, green leaf, guacamole,
          pico de gallo<br />$12
        </li>
        <li>
          Standard<br />Grass fed beef,colby cheese,caramlized onions,pickles,
          special sauce<br />$12
        </li>
        <li>
          Flamin' Bacon<br />Grass fed beef,colby cheese,natural smoke
          bacon,haberno bacon,brioche bun<br />$13
        </li>
      </ul>
    </div>
    <div class="col-md-6" style="height: 1000px; background-color: orange">
      <h2 class="title">Sides</h2>
      <ul type="square" class="lists">
        <li>Baby Green Salad V GF<br />$5</li>
        <li>Sweet Potato Fries<br />$4</li>
        <li>Waffle,Regular,Curly Fries<br />$3</li>
        <li>Chips and Guac<br />$6</li>
        <li>Onion Rings<br />$4</li>
        <li>Dill Pickles<br />$3</li>
      </ul>

      <h2 class="title">Beverages</h2>
      <ul type="square" class="lists">
        <li>
          Organic Unsweetened Teas V GF<br />Classic, peach, strawberry
          hibiscus<br />$3
        </li>
        <li>Organic Lemonade<br />$3</li>
        <li>
          Soda<br />
          Cola,Diet Cola,Ginger-ale,rootbeer<br />$3
        </li>
      </ul>

      <h2 class="title">Desserts</h2>
      <ul type="square">
        <li>Flourless Chocolate Cake<br />$4</li>
        <li>
          Milkshake<br />strawberry,chocolate,vanilla,cookies and cream<br />$5
        </li>
        <li>
          Smores Sundae<br />Marshmallow,graham crackers,chocolate sauce,
          vanilla icecream<br />$6
        </li>
        <li>
          Icecream<br />strawberry,chocolate,vanilla, cookies and cream, lime
          rasberry sorbet (V)<br />$4
        </li>
      </ul>
    </div>
  </div>
</div>
