<div class="main container-fluid">
  <!-- <nav
      class="container-fluid navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
    >
      <div class="logo">
        <h2 class="logo-name">Stomach Klinic</h2>
      </div>
      <div class="section">
        <a href="./dashboard">Login</a>
        <a href="./menu">Menu</a>
        <a href="#">Event</a>
        <a href="./aboutus">About Us</a>
        <a href="#">Contact</a>
      </div>
    </nav> -->

  <div class="slide">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/image.png" alt="Burger" class="d-block w-100" />
          <div class="carousel-caption d-none d-md-block">
            <h1 class="display-2">Straight from the Kitchen</h1>
            <h3>Made with high-quality Bread and Meat.</h3>
            <a href="./menu"
              ><button type="button" class="btn btn-outline-light btn-lg">
                ORDER NOW!
              </button></a
            >
          </div>
        </div>
      
      <div class="carousel-item active">
        <img src="../assets/nphoto4.jpg" alt="Burger" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-2">Straight from the Kitchen</h1>
          <h3>Made with high-quality Bread and Meat.</h3>
          <a href="./menu"
            ><button type="button" class="btn btn-outline-light btn-lg">
              ORDER NOW!
            </button></a
          >
        </div>
      </div>
    </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
