<!--  
<div class="container-fluid">
  <nav class="navbar fixed-top">
    <nav class="navbar navbar-expand-sm bg-success justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid mt-3">
      <h3>Centered Navbar</h3>
      <p>Use the .justify-content-center class to center the navigation bar.</p>
      <p>In this example, the navbar will be centered on medium, large and extra large screens. On small screens it will be displayed vertically and left-aligned (because of the .navbar-expand-sm class).</p>
    </div>
    
    <div class="logo" >
      <h2>Stomach Klinic</h2>
    </div>
    <div class="section">
      <a href="#">Menu</a>
      <a href="#">Event</a>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
    </div>
  </nav>
</div>
 ingredient-list.component.html -->
 <!--  
<ul>
  @for (ingredient of ingredientList; track ingredientList) {
    <li>{{ ingredient.quantity }} - {{ ingredient.name }}</li>
  }
  @if (food) {
    <h2>It is available</h2>
  }
  @else {
    <h2>It is not available</h2>
  }
</ul>

<p>{{ announcement }}</p>
    <button (click)="transformText()">Abracadabra!</button>

    
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../favicon.ico" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../favicon.ico" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../favicon.ico" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

   <a href="intro"> <input type="button" value="hggf"></a> -->
   <router-outlet /> 