<ul type="square" class="lists">
    <li>
      Chicken Fingers<br />Buttermilk-fried organic chicken breast<br />
      <a href="">Order Now</a> $5
    </li>
    <li>
      Cripsy Brussel Sprouts V,GF<br />Parmasean cheese, lemon, sea salt<br />$5
    </li>
    <li>
      Pigs in a Blanket<br />Four mini sausages wrapped up in baked dough<br />$5
    </li>
    <li>
      Cali Fresh Salad V, GF<br />Baby greens, quinoa, red pepper,
      hummus,red onions, grape tomatos,lemon tahini dressing<br />$6
    </li>
  </ul>
