<div class="main">
  <h1 class=" container-fluid log-name">LOGIN</h1>
  <div class="container-fluid sign-in-box ">
    <a href="https://www.facebook.com/">
      <input class="sign-in" type="button" value="Login With Facebook"
    /></a>
    <a href="https://www.google.com.ng/">
      <input class="sign-in" type="button" value="Login With Google"
    /></a>
  </div>
</div>

<div class="container-fluid container2">
  <div class="container-fluid test">
    <div class="container-fluid login-box">
      <h2>OR</h2>
      <input class="log" type="text" placeholder="Phone Number" /><br />
      <input class="log" type="password" placeholder="Password" />
      <a href="./forgotpassword"><h5>Forgot Password</h5></a>
      <a href="./login"><button class="login" type="submit">Login</button></a>
      <h4>Not A Customer? <a href="./register">Register Now</a></h4>
    </div>
  </div>
</div>
